/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
:root{
    --header-background-color: #2d25a0;
    --background-color: #ffffff;
    --tile-shadow-color: rgba(180, 180, 180, 0.459);
    --button-color: #ffffff;
    --button-background-color: #e02c6d;
    --description-text-size:1rem;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/*---------------------------header design start--------------------- */
header{
    display: flex;
    align-items: center;
    padding: 9.375rem 7.813rem 5rem 9.75rem;
    background-color: var(--header-background-color);
    margin-bottom: 4.375rem;
    
}
header h1{
    font-size: 4rem;
    font-weight: 700;
    color: var(--button-color);
}
.button-style{
    text-decoration: none;
    font-size: 1rem;
    color: var(--button-color);
    background-color: var(--button-background-color);
    padding: 0.625rem 1rem 0.625rem 1rem;

}
.header-image{
    position: relative;
    display: inline-block;

}
.header-image .first-image{
    height: 27.375rem;
    width: 34.75rem;
}
.header-image .second-image{
    height: 27.375rem;
    width: 34.75rem;
}
.header-image .second-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0;
    transition: opacity 1s ease-in;
}
header:hover .second-image{
    opacity: 1;
}
/*---------------------------header design end----------------------- */


/*-----------------------players section design start-------------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 1.688rem;
    grid-column-gap: 1.875rem;
    margin-bottom: 9.375rem;
    width: 80%;
    margin: auto;
}
.player-details{
    height: 29.625rem;
    width: 20.625rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0rem 0rem 2.5rem var(--tile-shadow-color);
    
}
.player-image img{
    width: 18.75rem;
    height: 16rem; 
    padding-top: 1rem;
}
.player-info{
    padding: 0rem 1rem 0rem 1rem;
}
.player-info p{
    font-size: var(--description-text-size);
}
/*---------------------players section design end-----------------------*/


/*---------------------All highlight section start-----------------------*/
.highlights-section{
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.highlights-description{
    margin: 0.625rem;
    padding: 1.25rem;
}
.highlights-description h2{
    font-size: 3rem;
    font-weight: 43.45rem;
}
.highlights-description p{
    margin-bottom: 2rem;
    font-size: var(--description-text-size);
}
.highlights-image img{
    width: 35.438rem;
    height: 26.688rem;
}

/*---------------------All highlight section end-------------------------*/

/*-------- man of the match start       man of the match start----------*/

.section-title{
    font-size: 3.438rem;
    background-color: darkgray;
    color: var(--button-color);
    text-align: right;
    padding-right: 3%;
    margin-top: 10rem;
}
.man-of-the-match-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: auto;
}
.man-of-the-match-image img{
    width:  23.438rem;
    height: 12.5rem;
}

/*-------- man of the match end       man of the match end-------------- */
/*-------- Hot cities start     Hot cities start------------------------ */

.city{
    display: flex;
    width: 80%;
    margin: auto;
}
.city-description{
    text-align: justify;
    margin-right: 1.563rem;
}
.city-image img{
    width: 33.75rem;
    height: 23.438rem;
}
figcaption{
    text-align: center;
}
/*-------- Hot cities end     Hot cities end-------------------------- */
/*--------Footer start      Footer start------------------------------- */
footer{
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-image img{
    width: 30.188rem;
    height: 6.875rem;
}
.fab{
    font-size: 1.625rem;
}
.footer-links a{
    margin: 0.625rem;
    padding: 1.563rem 1.563rem 0.938rem 1.563rem;
    background-color: var(--tile-shadow-color);
    border-radius: 60%;
}
/*--------Footer end      Footer end------------------------------- */

/*------------media breakpoint for mobile device Start--------------*/
@media only screen and (max-width: 688px){
    body{
        overflow-x: hidden;
    }
    main{
        margin-left: 15px;
        padding-left: 5px;
    }
    header{
        width: 300px;
        margin: 0;
        display:flex;
        flex-direction:column;
    }
    .city{
        width: 80;
        display: inline-flex;
    }
    .section-title{
        display: inline-block;
        font-size: 3rem;
        background-color: darkgray;
        color: var(--button-color);
        text-align: right;
        padding-right: 3%;
        margin-top: 10rem;
    } 
    .players, .highlights-section, .man-of-the-match-images, .city{
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-left: 40px;
        padding: 20px;
    }
    .players{
        padding-left: 5px;
        padding-right: 5px;
    }
    .player-details{
        width: 300px;
        height: 550px;
        margin: auto;
        padding: 10px;
    }
    .highlights-description p, a, h2{
        width: 400px;
        margin: 20px;
        padding-left: 10px;
    }
    .highlights-image img{
        width: 400px;
        margin-left: 20px;
        padding-left: 10px;
    }
    .city-description p, h1, img{
        padding-left: 10px;

    }
    footer{
        margin-left: 12.5rem;
    }
    .fab{
        font-size: 1.5rem;
    }
    .footer-links a{
        margin: 0rem;
        padding: 0rem;
        /* padding: 1rem 1rem 0.5rem 1rem; */
        background-color: var(--tile-shadow-color);
        border-radius: 60%;
    }
    .footer-copyright p{
        /* display: inline-block; */
        font-size: 10px;
    }
}    
/*------------media breakpoint for mobile device end--------------*/


/* -----------------media breakpoint for tab Start---------------------*/
@media only screen and (min-width:688px) and (max-width:992px){
    body{
        overflow-x: hidden;
    }
    main{
        margin-left: 15px;
        padding-left: 25px;
    }
    header{
        width: 80%;
        margin: 0;
        display:flex;
        flex-direction:column;
    }
    .city{
        width: 100%;
        display: inline-flex;
    }
    .section-title{
        display: inline-block;
        font-size: 3rem;
        background-color: darkgray;
        color: var(--button-color);
        text-align: right;
        padding-right: 3%;
        margin-top: 10rem;
    } 
    .players, .man-of-the-match-images{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-left: 40px;
        padding: 20px;
        
    }
    .players{
        padding-left: 5px;
        padding-right: 5px;
    }
    .player-details{
        margin-left: 20px;
        width: 350px;
        height: 500px;
        margin: auto;
        padding: 10px;
    }
    .highlights-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .highlights-description p, a, h2{
        width: 400px;
        margin: 20px;
        padding-left: 30px;
    }
    .highlights-image img{
        margin-left: 20px;
        padding-left: 150px;
    }
    .city{
        display: flex;
        flex-direction: column;
    }
    .city-description p, h1, img{
        padding-left: 50px;

    }
    .hot-cities-section{
        margin-left: 50px;
        padding-left: 50px;
    }
    footer{
        margin-left: 12.5rem;
        margin-bottom: 20px;

    }
    .fab{
        font-size: 2rem;
    }
    .footer-links a{
        margin: 0rem;
        padding: 0rem;
        background-color: var(--tile-shadow-color);
        border-radius: 60%;
    }
    .footer-copyright p{
        font-size: 16px;
    } 
}
/*-----------------media breakpoint for tab end--------------------- */
